<table>

    <tr>

        <td style="width: 200px;">Variables</td>
        <td style="width: 200px;">Pipe</td>
        <td style="width: 200px;">Producto</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ nombre }}</td>
        <td style="width: 200px;">uppercase</td>
        <td style="width: 200px;">{{ nombre | uppercase }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ nombre }}</td>
        <td style="width: 200px;">lowercase</td>
        <td style="width: 200px;">{{ nombre | lowercase }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ nombre }}</td>
        <td style="width: 200px;">slice: 3</td>
        <td style="width: 200px;">{{ nombre | slice:3 }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ nombre }}</td>
        <td style="width: 200px;">slice: 7:15</td>
        <td style="width: 200px;">{{ nombre | slice:7:15 }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ nombre2 }}</td>
        <td style="width: 200px;"></td>
        <td style="width: 200px;">{{ nombre2 | capitalizado:1:2:3:4:5 }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ arreglo }}</td>
        <td style="width: 200px;">slice: 3:5</td>
        <td style="width: 200px;">{{ arreglo | slice:3:5 }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ arreglo }}</td>
        <td style="width: 200px;">slice: 3:5</td>
        <td style="width: 200px;">{{ arreglo | slice:3:5 }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ pi }}</td>
        <td style="width: 200px;">number</td>
        <td style="width: 200px;">{{ pi | number }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ pi }}</td>
        <td style="width: 200px;">number:'3.0-0' (3 enteros y de cero a cero decimales)</td>
        <td style="width: 200px;">{{ pi | number:'3.0-0'}}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ pi }}</td>
        <td style="width: 200px;">number:'1.0-2' (1 entero y de cero a 2 decimales)</td>
        <td style="width: 200px;">{{ pi | number:'1.0-2'}}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ a }}</td>
        <td style="width: 200px;">percent</td>
        <td style="width: 200px;">{{ a | percent }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ a }}</td>
        <td style="width: 200px;">percent:'2.0-2' (2 enteros y de cero a 2 decimales)</td>
        <td style="width: 200px;">{{ a | percent:'2.0-2' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ a }}</td>
        <td style="width: 200px;">percent:'2.0-2' (2 enteros y de 2 a 2 decimales)</td>
        <td style="width: 200px;">{{ a | percent:'2.2-2' }}</td>

    </tr>

    <!-- ISO para currency https://es.wikipedia.org/wiki/ISO_4217-->

    <tr>

        <td style="width: 200px;">{{ salario }}</td>
        <td style="width: 200px;">currency</td>
        <td style="width: 200px;">{{ salario | currency }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ salario }}</td>
        <td style="width: 200px;">currency:'EUR'</td>
        <td style="width: 200px;">{{ salario | currency:'EUR' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ salario }}</td>
        <td style="width: 200px;">currency:'EUR'</td>
        <td style="width: 200px;">{{ salario | currency:'EUR':false }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ salario }}</td>
        <td style="width: 200px;">currency:'EUR'</td>
        <td style="width: 200px;">{{ salario | currency:'EUR':false:'4.0-2' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ salario }}</td>
        <td style="width: 200px;">currency:'EUR'</td>
        <td style="width: 200px;">{{ salario | currency:'EUR':false:'.4-4' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">valorDePromesa</td>
        <td style="width: 200px;">async</td>
        <td style="width: 200px;">{{ valorDePromesa | async }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ fecha }}</td>
        <td style="width: 200px;">date</td>
        <td style="width: 200px;">{{ fecha }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ fecha }}</td>
        <td style="width: 200px;">date:'medium'</td>
        <td style="width: 200px;">{{ fecha | date:'medium' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ fecha }}</td>
        <td style="width: 200px;">date:'dd - mm - YYYY'</td>
        <td style="width: 200px;">{{ fecha | date:'dd - mm - yyyy' }}</td>

    </tr>

    <tr>

        <td style="width: 200px;">{{ fecha }}</td>
        <td style="width: 200px;">date:'dd - mm - YYYY'</td>
        <td style="width: 200px;">{{ fecha | date:'MMMM - yyyy' }}</td>

    </tr>

</table>

<table style="margin-top: 30px;">

        <tr *ngFor="let item of arreglo | slice:1:20">
    
            <td style="width: 200px;">{{ item }}</td>
    
        </tr>


</table>

<table style="margin-top: 30px;">

    <tr>

        <td style="width: 200px;">JSON</td>

    </tr>

    <tr>

        <td style="width: 200px;">
            <pre>
                {{ persona | json }}
            </pre>
        </td>

    </tr>


</table>