<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>

    <input class="form-control" placeholder="Buscar Persona" type="text" (keyup.enter)="buscarPersona(buscarPersonaText.value)" #buscarPersonaText>
    <button (click)="buscarPersona(buscarPersonaText.value)" class="btn btn-primary">Buscar</button>

    <div *ngIf="persona.nombre != ''">
      {{ persona.nombre }} {{ persona.apellido }} {{ persona.puesto }}

    </div>

    <div *ngIf="persona.nombre == ''">
      No hay resultados
    </div>

    

  </div>

  <!-- sin @input -->
  <ul style="margin-top: 50px;">
    <li *ngFor="let person of about; let i = index">
      <a [routerLink]="['/persona',i]">{{ i + 1 }} {{ person.nombre }} {{ person.puesto }}</a>
      <button (click)="verAbout(i)" class="btn btn-outline-primary">Click it!</button>
    </li>
  </ul>

  <!-- con @input 
  <ul style="margin-top: 50px;">
    <app-input [i]="i" [person]="persona" *ngFor="let persona of about; let i = index"></app-input>
  </ul>
  -->

  <!-- con @output -->
  <ul style="margin-top: 50px;">
    <app-input (personaSeleccionado)="verAbout($event);" [i]="i" [person]="persona" *ngFor="let persona of about; let i = index"></app-input>
  </ul>

  
</div>
